.titulo {
    color: black;
    background-color: aqua;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 500;
    line-height: 20px;
  }
  .estados {
    color: blue;
    background-color: white;
  }
  #cor-texto {
    color: black;
  }
  a {
    background-color: black;
    color: white;
  }
 a[href="https://twitch.tv/KoalaSMK"]
  {
    background-color: purple;
    color: white;
  } 
a[href="https://instagram.com/anakroehn"]
{
    background-color: purple;
    color: white;
}
  img {
    width: 350px;
    display: block;
  }
  em {
    background-color: white;
  }
  